<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WebQuiz Application</title>
</head>
<body>
    <h1>Welcome to WebQuiz Application</h1>

    <p>Please select an option</p>
    <ol>
        <li><a href="userRegistration.html" th:href="@{/user/register}">User registration</a></li>
        <li><a href="login.html" th:href="@{/login}">Log in</a></li>
        <li><a href="quizzes.html" th:href="@{/quizzes}">List of quizzes</a></li>
        <li><a href="selectQuiz.html" th:href="@{/solve}">Solve the quiz</a></li>
    </ol>

</body>
</html>