<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register user</title>
</head>

<body>
<p><a href="home.html" th:href="@{/}">Back to home page</a></p>

<form method="POST" th:action="@{/user/register}" th:object="${user}">
    <h1>Register User</h1>

    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Delete the problems listed below and try again.
        </span>
    </div>

    <label for="username">Username: </label>
    <input type="text" th:field="*{username}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}"></span>
    <br/>

    <label for="password">User password: </label>
    <input type="password" th:field="*{password}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}"></span>
    <br/>

    <input type="submit" value="Register user"/>

    <div th:if="${usernameTaken != null}">
        <p>Username '<span th:text="${takenUsername}"></span>' is already taken.</p></div>

</form>
</body>

</html>