<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Quizzes</title>
</head>
<body>
<p><a href="loggedIn.html" th:href="@{/loggedIn}">Previous page</a></p>

<h1>User quizzes:</h1>
<div th:unless="${#lists.isEmpty(quizzes)}">
<div th:each="quiz : ${quizzes}">
    <label for="Quiz id">Quiz id: </label>
    <span th:text="${quiz.id}"></span><br/>
    <label for="Quiz question">Quiz question: </label>
    <span th:text="${quiz.question}"></span><br/>
    <label for="Quiz options">Quiz options: </label><br/>
    <label for="Quiz question">1) </label>
    <span th:text="${quiz.option1}"></span><br/>
    <label for="Quiz question">2) </label>
    <span th:text="${quiz.option2}"></span><br/>
    <label for="Quiz question">3) </label>
    <span th:text="${quiz.option3}"></span><br/>
    <label for="Quiz question">4) </label>
    <span th:text="${quiz.option4}"></span><br/>

    <br/><br/></div>
</div>
<div th:if="${#lists.isEmpty(quizzes)}">
    <div>No Quizzes created by the user were found. Please create some first.</div>
</div>
</body>
</html>